{% extends 'main_html.html' %}

{% block title %}
О сайте
{% endblock %}


{% block body %}
    <div class="post-container">
        <div class="text-section">
            <h1>Название поста</h1>
            <h2>
                {{post.title}}
            </h2>
            <p>
                {{post.text}}
            </p>

        </div><br>
        <div class="image-section">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1843658378002555999/D2CB1C4A0B5A01521A8B19C8939A2694D7E3F105/?imw=512&amp;imh=341&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true" alt="Изображение поста">
        </div>
    </div>

{% endblock %}