{% extends 'main_html.html' %}

{% block title %}
О сайте
{% endblock %}


{% block body %}
    <div class="post-container">
        <div class="text-section">
            <h1>
                {{post.title}}
            </h1>
            <p>
                {{post.text}}
            </p>

        </div><br>
        <div class="image-section">
             {% if post.photo_path %}
                <img src="{{ url_for('static', filename='uploads/' ~ post.photo_path) }}" alt="">
             {% endif %}
        </div>
    </div>

{% endblock %}