{% extends 'main_html.html' %}

{% block title %}
О сайте
{% endblock %}


{% block body %}
<body xmlns="http://www.w3.org/1999/html">
  <div class="container2">
    <form action="#" method="post" class="auth-form">
        <h2 class="registration">Регистрация</h2>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required placeholder="Придумайте имя..."><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required placeholder="Придумайте пароль..."><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
</body>

{% endblock %}